.SizeSelector div {
    display: inline-block;
    margin: 1rem;
}

.SizeSelector button {
    display: inline-block;
    border: none;
    text-decoration: none;
    cursor: pointer;
    /* padding: 2rem; */
    /* color: white; */
    /* border: 2px solid black; */
    /* border-radius: 50px; */
    background-color: white;
}

.SizeSelector .selected {
    background-color: black;
}

.SizeSelector-small {
    padding: 1rem;
}

.SizeSelector-medium {
    padding: 1.3rem;
}

.SizeSelector-large {
    padding: 1.65rem;
}

.SizeSelector-extra-large {
    padding: 2rem;
}