.MenuCategoryList {
    margin: 10px;
    padding: 0;
}

.MenuCategoryList-item {
    display: flex;
    border: 1px solid black;
    margin: 10px;
}

.MenuCategoryList-item:hover {
    cursor: pointer;
}

.MenuCategoryList-item img {
    width: 100px;
    height: auto;
}