
// ==================
// ===== Colors =====
// ==================

// Primary
$orange900: #4D2E00;
$orange800: #663E00;
$orange700: #995D00;
$orange600: #D98400;
$orange500: #FF9800;
$orange400: #FFBC4C;
$orange300: #FFDA9B;
$orange200: #FFEED3;
$orange100: #FFF7EC;

// Neutral
$grey900: #253036;
$grey800: #4A5155;
$grey700: #758188;
$grey600: #8F9AA1;
$grey500: #A4ACB0;
$grey400: #BCC2C6;
$grey300: #D5DADD;
$grey200: #E8ECEE;
$grey100: #F3F6F8;

$white: #FBFBFB;

// Accents
$green900: #003C36;
$green800: #005149;
$green700: #006258;
$green600: #007D71;
$green500: #009688;
$green400: #06C2AF;
$green300: #75E7DC;
$green200: #BFF7F2;
$green100: #E6FFFC;

$yellow900: #3E3700;
$yellow800: #6B5F00;
$yellow700: #A69500;
$yellow600: #DFC800;
$yellow500: #FFEB3B;
$yellow400: #FFF174;
$yellow300: #FFF59D;
$yellow200: #FFF8BD;
$yellow100: #FFFBD9;

$red900: #350603;
$red800: #4D0701;
$red700: #730C04;
$red600: #B61307;
$red500: #F44336;
$red400: #F76D63;
$red300: #F99992;
$red200: #FCC8C5;
$red100: #FEF0EF;

// =====================
// ===== Font Size =====
// =====================

$fontSize1: .75rem; // 12px
$fontSize2: .875rem; // 14px
$fontSize3: 1rem; // 16px
$fontSize4: 1.125rem; // 18px
$fontSize5: 1.25rem; // 20px
$fontSize6: 1.5rem; // 24px
$fontSize7: 1.875rem; // 30px
$fontSize8: 2.25rem; // 36px
$fontSize9: 3rem; // 48px
$fontSize10: 3.75rem; // 60px
$fontSize11: 4.5rem; // 72px

// ==========================
// ===== Spacing/Sizing =====
// ==========================

$size1: 4px;
$size2: 8px;
$size3: 12px;
$size4: 16px;
$size5: 24px;
$size6: 32px;
$size7: 48px;
$size8: 64px;
$size9: 96px;
$size10: 128px;
$size11: 192px;
$size12: 256px;
$size13: 384px;
$size14: 512px;
$size15: 640px;
$size16: 768px;


// ========================
// ===== Global Reset =====
// ========================

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

ul, ol, li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: inherit;
    &:hover {
        cursor: pointer;
        color: $orange500;
    }
}

img {
    max-width: 100%;
    display: block;
}

// =========================
// ===== Button Styles =====
// =========================

@mixin default-btn {
    width: $size8;
    height: $size6;
    border-radius: 10px;
    display: inline-block;
    border: 1.5px solid $grey800;
    background: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: $grey900;
    cursor: pointer;
}

.cart-btn, .back-btn {
    @include default-btn;

    &:hover {
        color: $white;
        background-color: $orange500;
        fill: $white;
        border-color: $orange500;
    }
    span {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    span {
        font-size: $fontSize4;
    }
}

.back-icon {
    height: $fontSize5;
}

.cart-icon {
    height: $fontSize5;
}

h2 {
    font-size: $fontSize7;
    margin-top: $size6;
    margin-bottom: $size6;
}

h4 {
    font-size: $fontSize6;
    font-weight: 400;
}

// ====================
// ===== Full App =====
// ====================

.App {
    color: $grey900;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MenuCategoryList-container,
.MenuItemList-container,
.MenuItemDetail-container,
.ItemAdded-container,
.Cart-container {
    height: 100vh;
    width: 100vw;
    padding: $size5;
    overflow-y: auto;
    background-color: $white;
}

.underline {
    border-bottom: 1.5px solid $grey400;
    margin-bottom: $size6;
}

.hide {
    display: none !important;
}

// ================
// ===== Body =====
// ================

.Body {
    height: 100%;
    width: 100%;

    .button-holder {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: $size6;
        width: 100%;
    }
}

// ============================
// ===== MenuCategoryList =====
// ============================

.MenuCategoryList {
    text-align: center;
    margin-top: auto;

    li {
        &:not(:last-child) {
            border-bottom: 1.5px solid $grey400;
        }

        a h2 {
            display: inline-block;
        }
    }
}

// ========================
// ===== MenuItemList =====
// ========================

.MenuItemList {
    text-align: center;
    height: 100%;

    h3 {
        font-size: $fontSize4;
        font-weight: 400;
    }
    p {
        margin-bottom: $size6;
        color: $grey800;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    li {
        width: $size10;
        margin: $size4;

        &:hover {
            cursor: pointer;
            color: $orange500;
        }
    }
}

// ==========================
// ===== MenuItemDetail =====
// ==========================

.MenuItemDetail-container {
    background-color: $orange300;
    padding: 0;

    .button-holder {
        padding: $size5;
        margin-bottom: 0;
    }
}
.MenuItemDetail {
    height: 100%;
    img {
        width: $size11;
        margin: 0 auto;
        margin-bottom: $size5;
    }
    .details-container {
        background-color: $white;
        padding: $size5;
        border-radius: 50px 50px 0 0;
        
        h3 {
            font-size: $fontSize7;
            margin-bottom: $size6;
        }

        p {
            color: $grey800;
            margin-bottom: $size6;
        }
    }

    .MenuItemDetail-add-to-order {
        position: fixed;
        bottom: $size4;
        left: 50%;
        margin-left: -($size12/2);

        button {
            @include default-btn;
            background-color: $green500;
            border: none;
            color: $white;
            width: $size12;
            height: $size8;
            font-size: $fontSize4;

            &:hover {
                background-color: $green700;
            }
        }

        .cancel-btn {
            background: $white;
            border: 2px solid $grey900;
            color: $grey900;
            width: $size6;

            &:hover {
                border-color: $red500;
                color: $red500;
                background-color: $white;
            }
        }
    }
}

// ============================
// ===== QuantitySelector =====
// ============================

.QuantitySelector {
    display: flex;
    justify-content: space-between;
    margin-bottom: $size6;

    h4 {
        display: inline-block;
    }

    .control-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .icon-container {
            display: inline-block;
            width: $size6;
            height: $size6;
            border: 2px solid $grey900;
            border-radius: 50px;
            cursor: pointer;
            background-color: $white;
        }

        span {
            font-size: $fontSize6;
            margin: 0 $size3;
        }
    }
}

// ======================================
// ===== SizeSelector/CrustSelector =====
// ======================================

.SizeSelector, .CrustSelector {
    // display: flex;
    // justify-content: space-between;
    margin-bottom: $size6;

    h4 {
        margin-bottom: $size5
    }

    .control-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: flex-end;

        .size-container {
            text-align: center;
            cursor: pointer;

            &:not(:first-child) {
                margin-right: $size6;
            }
        }

        .crust-container {
            text-align: center;
            cursor: pointer;

            &:not(:last-child) {
                margin-right: $size6;
            }
        }

        button {
            background: none;
            border: none;
            cursor: pointer;

            &:active {
                border: none;
            }
        }

        p {
            color: $grey800;
            text-align: center;
            margin-bottom: 0;
        }

        .selected {
            font-weight: 700;
            color: $grey900;
        }
    }
}

.CrustSelector {
    .control-container {
        flex-direction: row;
    }
}

// =========================
// ===== SauceSelector =====
// =========================

.SauceSelector {
    margin-bottom: $size6;

    h4 {
        margin-bottom: $size5
    }

    input {
        opacity: 0;
        position: fixed;
        width: 0;
    }

    .SauceSelector-type {
        display: flex;
        justify-content: center;
        align-items: baseline;
        margin-bottom: $size5;

        label {
            display: inline-block;
            border: 2px solid $grey900;
            border-radius: 10px;
            width: $size9;
            padding: $size3 0;
            text-align: center;
            cursor: pointer;
        }

        div {
            &:not(:last-child) {
                margin-right: $size4;
            }
        }

        .selected {
            background: $orange500;
            color: $white;
        }
    }
}

// ========================
// ===== AmountSelect =====
// ========================

.AmountSelect {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        opacity: 0;
        position: fixed;
        width: 0;
    }

    label {
        display: inline-block;
        background-color: $grey300;
        width: $size9;
        padding: $size3 0;
        text-align: center;
        cursor: pointer;

        &:hover {
            &:not(.selected) {
                background-color: $grey400;
            }
        }
    }

    .selected {
        border: 2px solid $grey900;
        background-color: $orange500;
        color: $white;
    }
}

// ==========================
// ===== CheeseSelector =====
// ==========================

.CheeseSelector {
    margin-bottom: $size6;

    h4 {
        display: inline-block;
    }

    .top-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $size5;
    }

    .cheese-input {
        input {
            opacity: 0;
            position: fixed;
            width: 0;
        }

        label {
            display: flex;
            cursor: pointer;
            margin-bottom: $size5;
    
            span {
                margin-left: $size2;
            }
        }
    }
}

// =======================
// ===== SplitSelect =====
// =======================

.SplitSelect {
    display: inline-block;

    button {
        border: none;
        background: none;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: $size3;
        }
    }
}

// ===============================
// ===== SpecialInstructions =====
// ===============================

.SpecialInstructions {
    margin-bottom: $size9;

    &.has-ingredients {
        margin-bottom: $size6;
    }

    h4 {
        margin-bottom: $size5
    }

    textarea {
        padding: $size2;
        width: 100%;
    }
}

// ========================
// ===== ToppingsList =====
// ========================

.ToppingsList {
    margin-bottom: $size8;

    h4 {
        margin-bottom: $size5
    }

    h5 {
        margin-left: $size3;
        color: $grey800;
        font-weight: 400;
        text-transform: capitalize;
    }

    .selected {
        h5 {
            color: $grey900;
        }
    }

    label {
        display: inline-block;
    }

    .topping-label {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        cursor: pointer;
    }

    input {
        opacity: 0;
        position: fixed;
        width: 0;
    }

    .topping {
        padding: $size5;
        margin-left: -($size5);
        margin-right: -($size5);

        &:nth-child(even) {
            background-color: $grey200;
        }
    }

    .label-split-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: $size4;
    }
}
// =====================
// ===== ItemAdded =====
// =====================

.ItemAdded {
    text-align: center;

    svg {
        width: $size11;
        height: auto;
        margin: $size7 0;
    }

    h2 {
        font-weight: 700;
        font-size: $fontSize5;
        margin: 0 0 $size7 0;
    }

    p {
        padding: $size5 0;
        margin-left: -$size5;
        margin-right: -$size5;
        margin-bottom: $size7;
        background-color: $grey200;
        font-size: $fontSize4;
        text-transform: capitalize;
    }

    .btn-container {
        display: flex;
        justify-content: space-between;
    }

    .keep-shopping-btn, .cart-btn {
        @include default-btn;
        width: $size10;
        height: $size7;
    }

    .keep-shopping-btn {
        color: $white;
        background-color: $green500;
        border: none;

        &:hover {
            background-color: $green700;
        }
    }

    .cart-btn {
        color: $green700;
        border: 2px solid $green700;

        &:hover {
            color: $white;
            background-color: $green700;
            border: none;
        }
    }
}

// ================
// ===== Cart =====
// ================

.Cart-container {
    .keep-shopping-btn {
        @include default-btn;
        width: $size10;
        height: $size7;

        &:hover {
            // background-color: $orange500;
            // color: $white;
            // border: none;
            color: $green500;
            border-color: $green500;
        }
    }
}
.Cart {
    height: 100%;
    
    h2 {
        text-align: center;
        font-size: $fontSize7;
    }

    .subtotal {
        display: flex;
        justify-content: space-between;
        margin-bottom: $size6;
        
        span {
            font-size: $fontSize5;
            font-weight: 700;
        }
    }

    .confirm-order-btn {
        @include default-btn;
        border: none;
        background-color: $orange500;
        color: $white;
        width: $size12;
        height: $size8;
        font-size: $fontSize4;
        display: block;
        // left: 50%;
        // margin-left: -($size12/2);
        margin: 0 auto;

        &:hover {
            background-color: $orange600;
        }
    }

    .disabled {
        opacity: .4;
        cursor: default;

        &:hover {
            background-color: $orange500;
        }
    }
}

// ====================
// ===== CartItem =====
// ====================

.CartItem {
    img {
        width: 100%;
        height: auto;
    }

    .info-container {
        display: grid;
        grid-template-columns: $size8 auto $size7;
        gap: $size5;
        margin-bottom: $size4;

        h3 {
            font-size: $fontSize4;
            margin-bottom: $size1;
        }

        p {
            margin-bottom: $size2;
        }

        .details-container {
            display: flex;
            align-items: center;
            cursor: pointer;
            max-width: 100%;

            .details-icon {
                display: inline-block;
                width: $size4;
                height: auto;
                fill: $orange500;
                margin-right: $size1;
                // transition: all .1s;
            }

            .rotate-icon {
                transform: rotate(90deg);
            }
        }

        .details-list {
            opacity: 0;
            display: none;
            margin-left: $size4 + $size1;

            li {
                font-size: $fontSize1;
                display: flex;
            }

            .toppings {
                display: flex;
            }
        }

        .key {
            color: $grey700;
            font-size: $fontSize1;
            margin-right: $size1;
        }

        .value {
            color: $grey900;
            font-size: $fontSize1;
            text-transform: capitalize;
        }

        .toppings-list {
            display: inline-block;
            margin-left: $size1;
        }

        .show-details {
            display: block;
            opacity: 1;
        }

        .edit-btn {
            border: none;
            background: none;
            cursor: pointer;
            border-bottom: 1px solid $grey700;
            font-size: $fontSize3;
            justify-self: end;
            align-self: start;
            color: $grey700;

            &:hover {
                color: $green500;
                border-color: $green500;
            }
        }
    }

    .remove-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: $size6;

        .remove-btn {
            border: none;
            background: none;
            color: $grey700;
            cursor: pointer;

            // &:hover {
            //     color: $red500;
            // }
            
            div {
                display: flex;
                align-items: center;
            }

            .remove-icon {
                display: inline-block;
                border: 2px solid $red500;
                border-radius: 100px;
                width: $size5;
                height: auto;
                fill: $red500;
                margin-right: $size3;
            }
        }
    }
}

// =========================
// ===== LoadingScreen =====
// =========================

.LoadingScreen {
    // .top-box {
    //     grid-area: top;
    //     border: 1px solid black;
    //     height: 100px;
    //     width: 100px
    // }

    .row-1 {
        grid-area: row-1;
    }

    .row-2 {
        grid-area: row-2;
    }

    .row-3 {
        grid-area: row-3;
    }
    .row-4 {
        grid-area: row-4;
    }

    .row-5 {
        grid-area: row-5;
    }

    background-color: $white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: $size7;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "row-1"
    "row-2"
    "row-3"
    "row-4"
    "row-5";

    .row {
        // border: 1px solid $grey200;
        width: 100%;
        height: 100%;
        padding: $size4;
        border-radius: 10px;
        background: $white;
    }

    .inner-row-1,
    .inner-row-2,
    .inner-row-3 {
        width: 100%;
        height: 20%;
        margin-bottom: $size3;
        border-radius: 10px;
        background: linear-gradient(270deg, $white, $grey300, $white);
        background-size: 600% 600%;
        animation: gradient-swipe 3s ease infinite;
    }

    .inner-row-2 {
        animation-delay: .25s;
    }

    .inner-row-3 {
        animation-delay: .5s;
    }
}

@keyframes gradient-swipe {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}